.bg{
	padding: 5vh 0;
	background-image: url(../images/bg.jpg);
	height: 100vh;
	background-size: cover;
}

.text-center{
	font-weight: lighter;
}

a.btn.btn-default.btn-block:active{
	color: #fff;
	background-color: maroon;
	border-width: 3px;
	border-color: #fff;
}

body {
      position: relative; 
  }

.btn-jsbtns{
	color: maroon;
	background-color: #fefefe;
	border-width: 3px;
	border-color: maroon;

}

.jappend{
	background-color: transparent;
	padding-top: -5%;
	padding-bottom: 5%;
	margin-top: -5vh;
	height: 236px;
}
.space{
	padding-top: 2%;
}

.btn-fw{
	width: -webkit-fill-available;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f39c12 !important;
    height: 20vh;
    width: 210px;
}

.small-box>.inner {
    padding: 10px;
    color: white;
    float: left;
}

.small-box .icon {
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
    float: right;
}

/*.commun{
	width: fit-content;
}*/
.btn-style{
	background-color: transparent;
	z-index: 3000;
	color: inherit;
	padding: unset;
    border: unset;
    height: 20vh;
    position: absolute;
}

.btn-style:hover{

}

a.btn.btn-default.btn-trans {
    position: absolute;
    height: 8%;
    margin-top: 47%;
    margin-left: 41%;
    width: 20%;
    background-color: transparent;
    color: transparent;
    border: none;
}